---
import Layout from '../layouts/Layout.astro';
import ContentGrid from "../components/ContentGrid.astro";
import ContentItem from "../components/ContentItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { games } from '../data/games';
import { getCollection } from "astro:content";
import Disclaimer from '../components/Disclaimer.astro';

const liveGames = games.filter(game => game.live);
const recipes = await getCollection("recipes");
---

<Layout title="Guild Builds">
	<Header />
	<main>
		<Section dark>
			<SectionTitle>Games for you to play while we are on strike</SectionTitle>
		  <ContentGrid>
        {liveGames.map((game) => (
          <ContentItem name={game.name} href={game.link} image={game.image ? `thumbs/${game.image}` : "https://placehold.co/1600x900"} /> ))}
		  </ContentGrid>
      <Disclaimer>Games are built by union members and supporters and are not affiliated with the New York Times company. Please pardon any bugs. We are working hard to win a contract!</Disclaimer>
    </Section>
    <Section>
      <SectionTitle>We heard you like cooking. Here’s our cookbook.</SectionTitle>
      <ContentGrid>
        {
          recipes.map((entry) => (
            <ContentItem
              name={entry.data.title}
              href={`recipes/${entry.slug}`}
              image={entry.data.img ? `recipes-thumbs/${entry.data.img}` : "https://placehold.co/1600x900"}
              showName={false}
            />
          ))
        }
      </ContentGrid>
    </Section>
  </main>
  <Footer />
</Layout>
