---
interface Props {
    name: string;
    image: string;
    href?: string;
    showName?: boolean;
}

const { name, image, href, showName = true } = Astro.props;
---

<div class="item">
  {href && <a href={href}>
    {showName && <h3>{name}</h3>}
    <img src={image} alt={showName ? '' : name } loading="lazy" />
  </a>}
  {!href && <img src={image} alt={name} loading="lazy" />}
</div>

<style>
  .item {
    width: auto;
  }

  .item a {
    display: flex;
    flex-direction: column-reverse;
  }

  .item a:hover {
    text-decoration: underline;
    text-decoration-color: #ff4040;
  }

  img {
    width: 100%;
    height: auto;
  }

  h3 + img {
    padding-bottom: 8px;
  }

  h3 {
    line-height: 1.33;
  }
</style>
